*{padding:0; margin:0; width: 100%; height: 100%; }
a{text-decoration: none; color: inherit; display: inline-block;}

body{ 
    // header{ height: 10%; background-color: transparent; position: relative; width:100%;
    //     .menu{ position:absolute; float: left; width:80%; margin-left:10%; background-color: red;
    //         &-ul{display: inline-block; width: 32%}

    //     }
    // }
    .main_pi{ width:96%; margin: 2% 2% 2% 2% ; height: 86%; overflow: hidden;
        background-image: url(../images/foldingDesk.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 50%,50%;
        // img{width:100%; }
    }

    footer{ width:96%; height: 0%; margin: 2%;
        div{ display: inline-block;
           
        }
    }
}